flows.json
[{"id":"3b9639c.57d2ec6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f8dffc0.343f308","type":"ui_form","z":"3b9639c.57d2ec6","name":"","label":"","group":"c4fa25c7.daa018","order":1,"width":0,"height":0,"options":[{"label":"gender","value":"ge","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"re","type":"text","required":true,"rows":null},{"label":"parental level of education","value":"pa","type":"text","required":true,"rows":null},{"label":"lunch","value":"lun","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"math score","value":"ms","type":"number","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null},{"label":"percentage","value":"per","type":"number","required":true,"rows":null}],"formValue":{"ge":"","re":"","pa":"","lun":"","tpc":"","ms":"","rs":"","ws":"","per":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"grade","x":70,"y":420,"wires":[["6880a16.729846"]]},{"id":"6880a16.729846","type":"function","z":"3b9639c.57d2ec6","name":"PreToken","func":"global.set(\"ge\",msg.payload.ge)\nglobal.set(\"re\",msg.payload.re)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"lun\",msg.payload.lun)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nglobal.set(\"per\",msg.payload.per)\nvar apikey=\"WqbhkaAzXH4ygf-c-BYlVprZ9NHjXp1IAuL-Wx8FJU4z\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["4b730c85.a28844"]]},{"id":"4b730c85.a28844","type":"http request","z":"3b9639c.57d2ec6","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":340,"wires":[["a37c73dd.6b2ad"]]},{"id":"a37c73dd.6b2ad","type":"function","z":"3b9639c.57d2ec6","name":"Pre Prediction","func":"var ge = global.get('ge')\nvar re = global.get('re')\nvar pa = global.get('pa')\nvar lun = global.get('lun')\nvar tpc = global.get('tpc')\nvar ms = global.get('ms')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar per = global.get('per')\nvar token=msg.payload.access_token\nvar instance_id=\"219885bb-0d13-4260-adab-3e36491e7fda\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\", \"math score\", \"reading score\", \"writing score\", \"percentage\"], \"values\": [[ge,re,pa,lun,tpc,ms,rs,ws,per]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["439214f0.4b86cc"]]},{"id":"439214f0.4b86cc","type":"http request","z":"3b9639c.57d2ec6","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/e6535b89-4845-4ebb-a443-3fcdef37aa48/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":200,"wires":[["fdfc56ca.656e38"]]},{"id":"fdfc56ca.656e38","type":"function","z":"3b9639c.57d2ec6","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":100,"wires":[["6b03e5ab.70ed1c","9b88081b.545828"]]},{"id":"6b03e5ab.70ed1c","type":"ui_text","z":"3b9639c.57d2ec6","group":"c4fa25c7.daa018","order":2,"width":0,"height":0,"name":"","label":"Grade","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":340,"wires":[]},{"id":"9b88081b.545828","type":"debug","z":"3b9639c.57d2ec6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":60,"wires":[]},{"id":"c4fa25c7.daa018","type":"ui_group","z":"","name":"student performance","tab":"dbbd121c.3f3dd","order":2,"disp":true,"width":"6","collapse":false},{"id":"dbbd121c.3f3dd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]